* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

a,
nav ul li a {
    text-decoration: none;
    color: grey;
}

.glow:hover {
    color:white;
}

.grow:hover {
    transform: scale(1.2);
}

body {
    display: flex;
}

nav {
    width: 16rem;
    height: calc(100vh - 6rem);
    position: sticky;
    top: 0;
    background-color: #000000;
    line-height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-size: 0.8rem;
    overflow-y: auto;
}

nav::-webkit-scrollbar,
.playlists-list::-webkit-scrollbar{
    width: 0;
}

nav ul,
.tabs ul {
    list-style: none;
    color: grey;
}

.logo,
header {
    height: 6rem;
    display: flex;
    align-items: center;
}

.logoMain {
    width: 140px;
}

.navTitle,
.navUserName {
    font-weight: 700;
    color: white;
}

.navItem img,
.navItem p {
    display: inline-block;
    vertical-align: middle;
}

.navItem img {
    width: 30px;
}

.playlistList {
    height: 45vh;
    overflow-y: auto;
}

.navUserIcon {
    height: 25px;
}

main {
    background-color: #151921;
    width: 100%;
}

.content {
    padding: 2rem;
    height: 100%;
}

header {
    height: 6rem;
    position: sticky;
    padding: 2rem;
    top: 0;
    background: rgba(12, 15, 21, 0.6);
    flex-direction: row-reverse;
}

.nonSub,
.tabs {
    text-transform: uppercase;
}

.nonSub {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 90px;
    color: white;
    font-size: 0.8rem;
}

.tabs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8rem;
    gap: 1rem;
}

.active {
    text-decoration: underline .2rem rgb(27, 224, 9);
    text-underline-offset: 0.5rem; 
}

.articleHeading {
    color:white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1rem;
    padding: 1rem 0;
}

.articleSubheading,
.cardSubtitle {
    font-size: 0.8rem;
    color: #b3b3b3;
    line-height: 28px;
}

.articleSubheading {
    padding: 0.5rem 0;
}

.musicGrid {
    display: grid;
    padding: 1rem 0;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1rem;
}


.playBtnContainer {
    position: relative;
}

.playImg {
 width: 60px;
}
.playBtn {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 40%;
    visibility: hidden;
}

.cardImg:hover {
    opacity: .5;
}

.playBtnContainer:hover .playBtn{
    visibility: visible;
}
.card {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.cardImg,
.card > p {
    width:100%;
    text-align: center;
}

.cardTitle {
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.artist img{
    border-radius: 50%;
}

footer {
    background-color: #282828;
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.spotifyControls,
.songInfo {
    min-width: 16rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.currentPlayingSong {
    font-size: 0.8rem;
    font-weight: 700;
    color: grey;
}

.currentPlayingArtist {
    font-size: 0.7rem;
    color: #b3b3b3;
}

.songInfo {
    justify-content: left;
}

.spotifyControls {
    justify-content: right;
}

.footerSVG {
    width: 20px;
    filter: invert(68%) sepia(12%) saturate(0%) hue-rotate(211deg) brightness(98%) contrast(112%);
}

.footerSVG:hover,
.playImg {
    filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(113deg) brightness(104%) contrast(108%);
}

.songControls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.controlsTop {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playPause {
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.songProgress{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    width:100%
}

.trackTime {
    color:#FFFFFF;
}

.progressBar,
.volumeBar { 
    height: 0.25rem;
    width: 50%;
    background: #555;
}

.progressBar > span,
.volumeBar >span {
    display: block;
    height: 100%;
    background-color: #B3B3B3;
}

.progressBar > span:hover,
.volumeBar >span:hover {
    background-color: rgb(27, 224, 9);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}