* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: white;
}

a {
    text-decoration: none;
}

body {
    display: flex;
}

aside {
    width: 20rem;
    height: calc(100vh - 7rem);
    position: sticky;
    top: 0;
    background-color: #000000;
    line-height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo,
header {
    height: 7rem;
    display: flex;
    align-items: center;
}

.logoMain {
    width: 180px;
}

.navTitle {
    font-weight: 700;
}

.navitem img,
.navitem p {
    display: inline-block;
    vertical-align: middle;
}

.navPlaylistList {
    color: #b3b3b3
}

.navitem img {
    width: 30px;
}

.asideUserIcon {
    height: 25px;
}

main {
    background-color: #151921;
    width: 100%;
}

.content {
    padding: 2rem;
    height: 100%;
}

header {
    height: 7rem;
    position: sticky;
    top: 0;
    background: rgba(12, 15, 21, 0.6);
    flex-direction: row-reverse;
}

.nonSub {
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 90px;
}

.nonSub,
.tabs {
    text-transform: uppercase;
}

.tabs ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.trending {
    text-decoration: underline .2rem rgb(27, 224, 9);
    text-underline-offset: 0.5rem; 
}

.articleHeading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1rem;
    padding-top: 2rem;
}

.articleSubheading,
.cardSubtitle {
    font-size: 0.9rem;
    color: #b3b3b3;
    line-height: 28px;
}

.articleSubheading {
    padding: 0.5rem 0;
}

.musicGrid {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2rem;
}

.card {
    max-width: 250px;
    max-height: 1fr;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cardImg,
.card > p {
    width:100%;
    text-align: center;
}

.cardTitle {
    font-weight: 700;
    font-size: 1.1rem;
}

.artist img{
    border-radius: 50%;
}

footer {
    background-color: #282828;
    width: 100%;
    height: 7rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotifyControls,
.songInfo {
    min-width: 20rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.currentPlayingArtist {
    font-size: 0.8rem;
    font-weight: 700;
}

.currentPlayingSong {
    font-size: 0.7rem;
    color: #b3b3b3;
}

.songInfo {
    justify-content: left;
}

.spotifyControls {
    justify-content: right;
}

.footerSVG {
    width: 20px;
    filter: invert(68%) sepia(12%) saturate(0%) hue-rotate(211deg) brightness(98%) contrast(112%);
}

.songControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.controlsTop {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playPause {
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.songProgress{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
}
.progressBar,
.volumeBar { 
    height: 4px;
    background: #555;
}

.progressBar {
      width: 500px;
}

.volumeBar {
      width: 75px;
}

.progressBar > span,
.volumeBar >span {
    display: block;
    height: 100%;
    background-color: #B3B3B3;
}